@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/Gotham\ Black\ Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Ink Free';
    src: url('../fonts/Inkfree.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}



html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    width: 100%;
    /*position: fixed;*/
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /*padding: 20px;*/
}

 .figure-logo {
    margin: 10px;
}

.header__navigation {
    display: flex;
}

.header__navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}

.header__navigation ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /*margin-left: 20px;*/
    width: 150px;
    height: 100%;
    /*height: 100%;*/
    border-right: 0.5px solid rgb(161, 159, 159);
    /*border-left: 0.5px solid rgb(161, 159, 159);*/
    align-content: center;
    justify-content: space-around;

}

.header__navigation ul li:hover {
    background-color: #CBE2F4;
}

.header__navigation_li figure {
    margin: 10px;
}

.header__navigation_li a {
    padding-top: 0px;
    padding-bottom: 10px;
    color: #365180 !important;
    font-family: 'Gotham Black';
    text-decoration: none;
}

.header_icono {
    display: none;
}

.header--scroll {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /*padding: 20px;*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.361);
}


.second-header {

    width: 100%;
    background-color: #2F3C5F;
    display: flex;
}

.second-header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.second-header-box_text {
    padding: 10px;
}

.second-header-box_text p {
    color: #ffffff;
    text-transform: uppercase;
}

.second-header-box_icons {
    padding: 10px;
}

.second-header-box_icons p {
    color: #3A527B;
}

.second-header-box_text ul {
    list-style: none;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    width: 70vh;
}

.second-header-box_icons ul {
    list-style: none;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    width: 20vh;

}

.contact__list-li a img {
    width: 30px;
    height: 30px;
}

.contact__list-li {
    margin-right: 6px;
}

/* #2F3C5F */
.icon-color {
    fill: #71bf4f !important;
}

.header__list-li i {
    color: #71BF4F;
}




/* -------------- */


.banner-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.banner-section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.banner-section img {
    height: 100vh;
    object-fit: cover;
}

.banner-section_text {
    width: 60%;
    height: 90vh;
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-section_text h1 {
    font-family: 'Gotham Black';
    font-size: 84px;
    text-transform: capitalize;
    font-weight: bold;
}

.banner-section_text .banner-title_1 {
    color: #71bf4f;
    
}

.banner-section_text .banner-title_2 {
    color: #466495;
    margin-top: -20px;
}

.green {
    color: #71bf4f;
}

/* --------- */

.proposito-section {
    background-color: #466495;
    width: 100%;
    height: 70vh;
}

.proposito-section_text {
    /*width: 50%;*/
    /*height: 90vh;*/
    display: flex;
    /*z-index: 1;*/
    /*position: relative;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.proposito-section_text_sub {
    margin-top: 12vh;
}


.proposito-section_text_title {
    margin-top: 10vh;
}

.proposito-section_text_title h1 {
    font-family: 'Ink Free';
    color: #ffffff;
    font-size: 80px;
}

.proposito-section_text_sub h4 {
    font-family: 'Gotham Black';
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 8px;

}

/* ------- */

.about-section {
    display: flex;
    width: 100%;
    background-color: #F4F5F7;
}

.about-section_image {
    width: 50%;
}

.about-section_text {
    width: 50%;
    padding: 50px;
}

.about-section_text_parag {
    padding: 50px;
}

.about-section_text_title {
    display: flex;
    align-items: center;
    /*padding: 20px;*/
}

.about-section_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-section_text_title figure {
    margin: 10px;
}

.about-section_text_button button {
    border: none;
    background-color: #71BF4F;
    padding: 15px;
    font-family: 'Gotham Black';
    font-weight: bold;
    color: #ffffff;

}

.about-section_text_parag p {
    font-size: 1.2rem;
    text-align: justify;
}

.about-section_text_title  h3{
    font-family: 'Gotham Black';
    font-size: 25px;
    color: #466495;
}

/* ------- */

.proposito-banner-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.proposito-banner-section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.proposito-banner-section img {
    height: 100vh;
    object-fit: cover;
}

.proposito-banner_text {
    background-color: #ffffff;
    width: 40%;
    /*height: 90vh;*/
    /*display: flex;*/
    z-index: 1;
    position: relative;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    margin: 50px;
    padding: 50px;
}

.proposito-banner-title h1 {
    font-family: 'Gotham Black';
    color: #71BF4F;
    font-size: 20px;
}

.proposito-banner_text_paragh p {
    /*font-family: 'Gotham Black';*/
    font-size: 12px;
    line-height: 23px;
}


/* -------- */

.tasks-banner-section {
    width: 100%;
    background-color: #F0F0F0;
}

.tasks-info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.task-info {
    display: flex;
    flex-direction: column;
    /*justify-content: center; */
    text-align: center;
    margin: 50px;
}

.tasks-title-section {
    display: flex;
    flex-direction: row;
    margin: 0vh;
    padding: 6vh;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    align-items: center;
}

.task-info-title h4 {
    font-family: 'Gotham Black';
    font-size: 16px;
}

.task-info-text  p {
    font-size: 13px;
    line-height: 26px;
}

.blue-title h4 {
    color: #466495;
}

.green-title h4 {
    color: #71BF4F;
}

.tasks-title-section h1 {
    font-family: 'Gotham Black';
    font-weight: bold;
    font-size: 30px;
    color: #466495;
    padding-left: 3vh;
}


/* ------ */


.valor-banner-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.valor-banner-section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.valor-banner-section img {
    height: 100vh;
    object-fit: cover;
}

.valor-banner_text {
    background-color: #365180;
    width: 40%;
    height: 100%;
    /*display: flex;*/
    z-index: 1;
    position: relative;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*margin: 50px;*/
    /*padding: 50px;*/
    left: 100vh;
}

.valor-banner_text-title {
    margin: 10vh;
    margin-top: 13vh;
}

.valor-banner_text-paragh {
    padding: 8vh;
}

.valor-banner_text-paragh p {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 4vh;
}

.valor-banner_text-title h1 {
    font-family: 'Gotham Black';
    font-weight: bold;
    font-size: 70px;
    line-height: 4rem;
    color: #ffffff;
    text-align: right;

}

.valor-white {
    font-weight: bold;
}

.valor-blue {
    font-weight: bold;
    color: #6B90C9;
}

/* ----- */

.service-banner-section {
    width: 100%;
}

.service-info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.service-info {
    display: flex;
    flex-direction: column;
    /*justify-content: center; */
    margin: 10vh;
    margin-top: 3vh;
}

.service-title-section {
    display: flex;
    flex-direction: row;
    margin: 5vh;
    padding: 2vh;
    margin-bottom: 1vh;
    align-items: center;
}

.service-info-title h4 {
    font-family: 'Gotham Black';
    font-size: 16px;
}

.service-title-section h1 {
    font-family: 'Gotham Black';
    font-weight: bold;
    font-size: 30px;
    color: #466495;
    padding-left: 3vh;
}


/* -------- */

.team-banner-section {
    width: 100%;
}

.team-info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.team-info {
    display: flex;
    flex-direction: column;
    /*justify-content: center; */
    margin: 10vh;
    margin-top: 3vh;
}

.team-title-section {
    display: flex;
    flex-direction: row;
    margin: 5vh;
    padding: 2vh;
    margin-bottom: 1vh;
    align-items: center;
}

.team-info figure img {
    width: auto;
    height: 50vh;
}

.team-info-title h4 {
    font-family: 'Gotham Black';
    font-size: 16px;
    color: #3D414A;
}

.team-title-section h1 {
    font-family: 'Gotham Black';
    font-weight: bold;
    font-size: 30px;
    color: #466495;
    padding-left: 3vh;
}


/* ------ */

/*
.valor-banner-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.valor-banner-section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}*/

.values-section_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.values-section {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
}

.values-section_image {
    width: 50%;
}

.values-section_text {
    width: 50%;
    padding: 50px;
}

.values-section_text_box-info {
    display: flex;
    flex-direction: row;
}

.values-section_text_title {
    display: flex;
    margin: 4vh;
    margin-left: 8vh;
}

.values-section_text_box-info figure {
    margin-right: 4vh;
}

.disrupcion figure {
    margin-right: 3vh;
}


.values-section_text_title h3 {
    font-family: 'Gotham Black';
    color: #466495;
    font-size: 25px;
}



.values-section_text_box-info_paragh p {
    font-size: 10px;
}

.values-section_text_box-info_paragh h4 {
    font-family: 'Gotham Black';
    font-size: 15px;
}

.blue-dark-title  h4{
    color: #365180;
}

.color-humildad {
    fill: #71BF4F !important;
}

.color-conciencia {
    fill: #365180 !important;
}

.color-valor {
    fill: #365180 !important;
}

.color-investigacion {
    fill: #71BF4F !important;
}

.color-disrupcion {
    fill: #71BF4F !important;
}


/* --------- */

.action-section {
    width: 100%;
    background-color: #71BF4F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.action-section-box{
    background-image: url('/public/images/foto\ aportar\ ideas.jpg');
    width: 545px;
    height: 380px;
    
}

.action-section-box2{
    background-image: url('/public/images/foto\ tomar\ accion.jpg');
    width: 545px;
    height: 380px;
    
}

.action-section-box-text {
    margin: 70px;
}


.action-section-box-text-paragh {
    margin-top: 6vh;
}

.action-section-box_line {
    width: 90%;
    height: 5px;
    margin-bottom: 50px;
    background-color: #FEC428;
}

.action-section-box_button button {
    border: none;
    background-color: #FEC428;
    padding: 15px;
    font-family: 'Gotham Black';
    font-weight: bold;
    color: #ffffff;

}

.action-section-box-text-title h4 {
    font-family: 'Gotham Black';
    color: #FEC428;
    font-weight: bold;
    font-size: 35px;
}

.action-section-box-text-title h5 {
    font-family: 'Gotham Black';
    font-weight: bold;
    color: #ffffff;
}

.action-section-box-text-paragh p {
    color: #ffffff;
    font-family: 'Gotham Black';
    font-size: 14px;
}


.green-title h4 {
    color: #71BF4F;
}

.green-line {
    background-color: #71BF4F;
}

.green-button button {

    background-color: #71BF4F;

}



/*
.action-section-box img{
    position: absolute;
    top: 0;
    left: 0;
}
.action-section-box img {
    object-fit: cover;
}*?


/* ------ */

.sustentable-section {
    background-color: #3F3221;
    width: 100%;
    height: 45vh;
}

.sustentable-section_text {
    /*width: 50%;*/
    /*height: 90vh;*/
    display: flex;
    /*z-index: 1;*/
    /*position: relative;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sustentable-section_text_title {
    /*margin-top: 20vh;*/
    margin: 18vh;
    margin-bottom: 10vh;
}

.sustentable-section_text_title h1 {
    font-family: 'Ink Free';
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
}

.grey {
    color: #7C93B5;
}

/* -------- */

.form-banner-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.form-banner-section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.form-banner-section img {
    height: 100vh;
    object-fit: cover;
}


.form-banner_box {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*margin: 50px;*/
    /*padding: 50px;*/
    /*left: 100vh;*/

}

.form-box {
    display: flex;
    flex-direction: row;
}

.form-div1 {
    display: flex;
    flex-direction: column;
    width: 60vh;
    margin: 20px;
}

.form-div2 {
    display: flex;
    flex-direction: column;
    width: 60vh;
    margin: 20px;
}

.form-div1 input {
    height: 40px;
    margin-bottom: 20px;
}

.form-box-input{
    margin: 20px;
}

.form-box-input input {
    border: none;
    color: #ffffff;
    background-color: #71BF4F;
    width: 100%;
    height: 50px;
}

.form-div1 input::placeholder {
    color: black;
}

/*
.form-div1 input:last-child {
    height: 150px;
}*/

.form-div2 textarea {
    height: 100%;
    margin-bottom: 20px;
}


.form-banner_text h1 {
    font-family: 'Gotham Black';
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}

.form-banner_text p {
    font-family: 'Gotham Black';
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}


/* ----- */

footer {

    width: 100%;
    background-color: #466495;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer-box {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-basis: content;
    flex-wrap: nowrap;
    height: 20vh;
}

.footer-contact-info {
    margin: 50px;
    margin-left: 40vh;
} 

.footer-contact-info ul {
    list-style: none;
    color: #ffffff;
    margin-top: 10vh;
}


.second-footer {

    width: 100%;
    background-color: #2F3C5F;
    display: flex;
}

.second-footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.second-footer-box_text {
    padding: 10px;
}

.second-footer-box_text p {
    color: #ffffff;
    text-transform: uppercase;
}

.second-footer-box_icons {
    padding: 10px;
}

.second-footer-box_icons p {
    color: #3A527B;
}


/* ----- */

/* MEDIA QUIERIES */

@media(min-width: 1920px) {

    .task-info-title h4 {
        font-size: 25px;
    }

    .task-info-text p {
        font-size: 17px;
    }

    .banner-section_text {
        width: 50%;
    }

    .banner-section_text h1 {
        font-size: 9rem;
    }

    .proposito-section_text_title h1 {
        font-size: 7rem;
    }

    .about-section_text_parag {
        width: 80%;
    }

    .proposito-banner_text_paragh p {
        font-size: 14px;
        text-align: justify;
        line-height: 34px;
    }

    .proposito-banner-title h1 {
        font-size: 30px;
    }


    .valor-banner_text-title {
        margin-top: 20vh;
    }

    .valor-banner_text-title h1 {
        font-size: 6rem;
        line-height: 6rem;
    }

    .valor-banner_text-paragh p {
        font-size: 36px;
    }

    .service-info-text {
        width: 30vh;
    }

    .service-info-section {
        justify-content: center;
    }

    .service-info {
        margin: 4vh;
    }

    .values-section_text_box-info_paragh h4 {
        font-size: 20px;
    }

    .values-section_text_box-info_paragh p {
        font-size: 14px;
    }

    .action-section {
        justify-content: center;
    }

    .action-section-box {
        margin-right: 7vh;
    }

    .sustentable-section_text_title h1 {
        font-size: 3rem;
    }

        
}

@media(min-width: 1600px) {

    .task-info-title h4 {
        font-size: 25px;
    }

    .task-info-text p {
        font-size: 17px;
    }

    .banner-section_text {
        width: 50%;
    }

    .banner-section_text h1 {
        font-size: 9rem;
    }

    .proposito-section_text_title h1 {
        font-size: 7rem;
    }

    .about-section_text_parag {
        width: 80%;
    }

    .proposito-banner_text_paragh p {
        font-size: 14px;
        text-align: justify;
        line-height: 34px;
    }

    .proposito-banner-title h1 {
        font-size: 30px;
    }


    .valor-banner_text-title {
        margin-top: 15vh;
    }

    .valor-banner_text-title h1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    .valor-banner_text-paragh p {
        font-size: 36px;
    }

    .service-info-text {
        width: 30vh;
    }

    .service-info-section {
        justify-content: center;
    }

    .service-info {
        margin: 4vh;
    }

    .values-section_text_box-info_paragh h4 {
        font-size: 20px;
    }

    .values-section_text_box-info_paragh p {
        font-size: 14px;
    }

    .action-section {
        justify-content: center;
    }

    .action-section-box {
        margin-right: 7vh;
    }

    .sustentable-section_text_title h1 {
        font-size: 3rem;
    }

        
}



@media(max-width: 1201px) {
    .valor-banner_text-paragh {
        padding: 8vh
    }

    .valor-banner_text-paragh p {
        font-size: 1.5rem;
        line-height: 4vh;
    }


}

@media(max-width: 1027px) {

    .team-info-section {
        flex-direction: column;
    }

    .team-info {
        align-items: center;
    }

    .service-info-section {
        flex-direction: column;
    }

    .service-info {
        align-items: center;
    }

    .service-info-title h4 {
        font-size: 1.7rem;
    }

    .service-info-text p {
        text-align: center;
    }

    .valor-banner_text-title h1 {
        font-size: 3rem;
    }

}

@media(max-width: 1024px){

    .second-header-box_text ul {
        width: 60vh;
    }

    .header-icons {
        width: 28px;
        height: 28px;
    }
    
    .header__list-li {
        font-size: 0.8rem;
    }

    .second-footer-box_text p {
        
        font-size: 0.8rem;  

    }

    .second-footer-box_icons p {
        font-size: 0.8rem;

    }

    .proposito-section_text_title h1 {
        font-size: 4rem;
    }

    .about-section_image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .proposito-banner_text {
        width: 45%;
    }


    .action-section-box2 {
        margin-left: 2vh;
    }

    .action-section-box-text {
        margin: 60px;
    }

    .action-section-box-text-paragh p {
        font-size: 12px;
    }

    .proposito-banner_text_paragh p {
        font-size: 0.6rem;
        line-height: initial;
    }

    .valor-banner_text-title h1 {
        font-size: 3.4rem;
        line-height: 3rem;
    }

    .valor-banner_text-paragh p {
        font-size: 1.1rem;
    }

    .service-info {
        margin: 7vh;
    }

}

@media(max-width: 990px) {

    .team-info-section {
        flex-direction: column;
    }

    .team-info {
        align-items: center;
    }

    .team-info-text p {
        text-align: center;
    }

    .service-info-section {
        flex-direction: column;
    }

    .service-info {
        align-items: center;
    }

    .service-info-title h4 {
        font-size: 1.7rem;
    }

    .service-info-text p {
        text-align: center;
    }

    .valor-banner_text {
        left: 80vh;
    }

}

@media(max-width: 950px) {

    header {
        background-color: #ffffff;
        width: 100%;
        height: auto;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px;
        flex-wrap: wrap;
    }

    .header__navigation {
        display: none;
    }

    .header--scroll {
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.361);
        flex-wrap: wrap;
    }

    header figure {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .header_icono {
        display: block;
        width: 50px;
        height: 50px;
        align-self: center;
        background-color: #ffffff;
        color: #365180;
        border: 1px solid #365180;
    }


    .header__navigation--active {
        display: flex;
        width: 100%;
        height: 25vh;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        height: auto;
        padding-bottom: 10%;
    }

    .header__navigation--disabled {
        display: none;
    }

    .header__navigation ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: column;
        padding: 0;
    }

    .header__navigation ul li {
        margin-bottom: 10px;
    }

    .header__navigation_li figure {
        display: none;
    }

    /*

    .header__navigation {
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: none;
        flex-direction: column;
    }*/

    .header__navigation ul li {
        border-right: none;
        margin-top: 14px;
    }

    .tasks-info-section {
        flex-direction: column;
    }

    .form-banner_text h1 {
        color: #71bf4f;
    }

    .form-banner_text p {
        color: #71bf4f;
    }

    .banner-section_text h1 {
        font-size: 4rem;
    }

    .valor-banner_text-title h1 {
        font-size: 3.2rem;
    }

    .sustentable-section_text_title h1 {
        font-size: 1.7rem;
    }

}

@media(max-width: 900px) {
    .action-section {
        flex-direction: column;
        align-items: center;
    }

    .action-section-box {
        margin-bottom: 4vh;
    }

    .action-section-box2 {
        margin-left: 0;
    }

    .proposito-section_text_title h1 {
        font-size: 3.5rem;
    }
}



@media(max-width: 850px) {

    header {
        background-color: #ffffff;
        width: 100%;
        height: auto;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px;
        flex-wrap: wrap;
    }

    .header__navigation {
        display: none;
    }

    .header--scroll {
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.361);
        flex-wrap: wrap;
    }

    header figure {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .header_icono {
        display: block;
        width: 50px;
        height: 50px;
        align-self: center;
        background-color: #ffffff;
        color: #365180;
        border: 1px solid #365180;
    }


    .header__navigation--active {
        display: flex;
        width: 100%;
        height: 25vh;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        height: auto;
        padding-bottom: 10%;
    }

    .header__navigation--disabled {
        display: none;
    }

    .header__navigation ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: column;
        padding: 0;
    }

    .header__navigation ul li {
        margin-bottom: 10px;
    }

    .header__navigation_li figure {
        display: none;
    }

    /*

    .header__navigation {
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: none;
        flex-direction: column;
    }*/

    .header__navigation ul li {
        border-right: none;
        margin-top: 14px;
    }



    .service-info-section {
        flex-direction: column;
    }

    .service-info {
        align-items: center;
    }

    .tasks-info-section {
        flex-direction: column;
    }

    .action-section {
        flex-direction: column;
        align-items: center;
    }

    .action-section-box {
        margin-bottom: 5vh;
    }

    .action-section-box2 {
        margin-left: 0;
    }

    .valor-banner_text {
        width: 70%;
        left: 20vh;
    }

    .proposito-section {
        height: 50vh;
    }

    .proposito-section_text_title h1 {
        font-size: 3rem;
    }


    .sustentable-section_text_title h1 {
        font-size: 1.5rem;
    }


    .proposito-banner_text {
        width: 50%;
        height: 100%;
        margin: 0;
    }

    .proposito-banner_text_paragh p {
        font-size: 0.8rem;
    }

    .task-info-text p {
        font-size: 1rem;
    }

    .task-info-title h4 {
        font-size: 1.5rem;
    }

    .service-info-text p {
        text-align: center;
    }

    .service-info-title h4 {
        font-size: 1.5rem;
    }

    .form-banner_text h1 {
        color: #71bf4f;
    }

    .form-banner_text p {
        color: #71bf4f;
    }

    .footer-contact-info {
        margin: 0;
        margin-left: 0;
    }

    .banner-section_text h1 {
        font-size: 4rem;
    }

    .form-box {
        flex-direction: column;
    }

    .form-div1 {
        width: 90vh;
        margin-bottom: 0;
    }

    .form-div2 {
        width: 90vh;
        margin-top: 0;
    }

    .form-banner_text {
        margin-top: 5vh;
    }

    .form-banner-section {
        height: 100%;
    }

    .form-banner-section img {
        height: 100%;
        object-fit: cover;
    }

    .footer-box {
        flex-direction: column;
        height: auto;
    }



}


@media(max-width: 690px) {
    .proposito-banner_text {
        padding: 5vh;
    }

    .about-section_text_parag {
        padding: 3vh;
    }
}



/* 425px */ 

@media(max-width: 580px) {

    .second-header-box {
        flex-direction: column;
    }

    .second-header-box_icons ul {
        width: 100%;
        justify-content: start;
    }

    .second-footer-box_text p {
        font-size: 0.5rem;
    }

    .banner-section_text h1 {
        font-size: 2.6rem; 

    }

    .proposito-section_text_title h1 {
        font-size: 1.7rem;
    }

    .sustentable-section_text_title {
        margin: 12vh;
    }

    .sustentable-section_text_title h1 {
        font-size: 1.3rem;
    }

    .valor-banner_text {
        width: 90%;
        left: 4vh;
    }

    .proposito-banner_text {
        width: 90%;
        margin: 4vh;
        padding: 4vh;
        height: auto;
    }

    .about-section_image {
        display: none;
    }

    .about-section_text {
        width: 100%;
    }

    .values-section_image {
        display: none;
    }

    .values-section_text {
        width: 100%;
    }

    .form-div1 {
        width: 60vh;
    }

    .form-div2 {
        width: auto;

    }

    .form-banner_text h1 {
        font-size: 2.4rem;
    }
    
    .form-banner_text p {
        font-size: 1rem;
    }

    .action-section-box {
        width: 70vh;
        height: 60vh;
        background-position: center;
    }

    .action-section-box2 {
        width: 70vh;
        height: 60vh;
        background-position: center;
    }

    .green-line {
        margin-bottom: 35px;
    }

}


@media(max-width: 375px) {
    .valor-banner_text-title h1 {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    .valor-banner_text-paragh p {
        font-size: 1.3rem;
    }

    .proposito-section_text_sub h4 {

        font-size: 1rem;

    }

    .banner-section_text h1 {
        font-size: 2.3rem;
    }

    .action-section-box-text-title h4 {
        font-size: 1.5rem;
    }

    .action-section-box-text-title h5 {
        font-size: 1.2rem;
    }

    .action-section-box {
        width: 60vh;
        height: 60vh;
    }

    .action-section-box2 {
        width: 60vh;
        height: 60vh;
    }

    .about-section_text_parag {
        padding: 4vh;
    }

    .form-banner_text h1 {
        font-size: 2.3rem;
    }

}

