@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/Gotham\ Black\ Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Ink Free';
    src: url('../fonts/Inkfree.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}



html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    width: 100%;
    /*position: fixed;*/
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
}

.header__navigation {
    display: flex;
}

.header__navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}

.header__navigation ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /*margin-left: 20px;*/
    width: 150px;
    height: 100%;
    /*height: 100%;*/
    border-right: 0.5px solid rgb(161, 159, 159);
    /*border-left: 0.5px solid rgb(161, 159, 159);*/
}

.header__navigation_li figure {
    padding-top: 10px;
}

.header__navigation_li a {
    padding-top: 5px;
}


/* -------------- */


.banner-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.banner-section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.banner-section img {
    height: 100vh;
    object-fit: cover;
}

.banner-section_text {
    width: 60%;
    height: 90vh;
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-section_text h1 {
    font-family: 'Gotham Black';
    font-size: 84px;
    text-transform: capitalize;
    font-weight: bold;
}

.banner-section_text .banner-title_1 {
    color: #71bf4f;
    
}

.banner-section_text .banner-title_2 {
    color: #466495;
    margin-top: -20px;
}

/* --------- */

.proposito-section {
    background-color: #466495;
    width: 100%;
    height: 70vh;
}

.proposito-section_text {
    /*width: 50%;*/
    /*height: 90vh;*/
    display: flex;
    /*z-index: 1;*/
    /*position: relative;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.proposito-section_text_sub {
    margin-top: 12vh;
}


.proposito-section_text_title {
    margin-top: 20vh;
}

.proposito-section_text_title h1 {
    font-family: 'Ink Free';
    color: #ffffff;
    font-size: 80px;
}

.proposito-section_text_sub h4 {
    font-family: 'Gotham Black';
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 8px;

}

/* ------- */

.about-section {
    display: flex;
    width: 100%;
}

.about-section_image {
    width: 50%;
}

.about-section_text {
    width: 50%;
    padding: 100px;
}

/* ------- */

.proposito-banner-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.proposito-banner-section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.proposito-banner-section img {
    height: 100vh;
    object-fit: cover;
}


.proposito-banner_text {
    background-color: #ffffff;
    width: 40%;
    /*height: 90vh;*/
    /*display: flex;*/
    z-index: 1;
    position: relative;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    margin: 50px;
    padding: 50px;
}

.proposito-banner-title h1 {
    font-family: 'Gotham Black';
    color: #71BF4F;
    font-size: 20px;
}

.proposito-banner_text_paragh p {
    /*font-family: 'Gotham Black';*/
    font-size: 12px;
    line-height: 23px;
}


/* -------- */

.tasks-banner-section {
    width: 100%;
}

.tasks-info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.task-info {
    display: flex;
    flex-direction: column;
    /*justify-content: center; */
    text-align: center;
    margin: 50px;
}

.tasks-title-section {
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 20px;
    align-items: center;
}

.task-info-title h4 {
    font-family: 'Gotham Black';
    font-size: 16px;
}

.task-info-text  p {
    font-size: 13px;
    line-height: 26px;
}

.blue-title h4 {
    color: #466495;
}

.green-title h4 {
    color: #71BF4F;
}

.tasks-title-section h1 {
    font-family: 'Gotham Black';
    font-weight: bold;
    font-size: 30px;
    color: #466495;
    padding-left: 3vh;
}


/* ------ */


.valor-banner-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.valor-banner-section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.valor-banner-section img {
    height: 100vh;
    object-fit: cover;
}

.valor-banner_text {
    background-color: #365180;
    width: 40%;
    height: 100%;
    /*display: flex;*/
    z-index: 1;
    position: relative;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*margin: 50px;*/
    /*padding: 50px;*/
    left: 100vh;
}

.valor-banner_text-title {
    margin: 60px;
}

.valor-banner_text-paragh {
    padding: 60px;
}

.valor-banner_text-paragh p {
    color: #ffffff;
    font-size: 25px;
}

.valor-banner_text-title h1 {
    font-family: 'Gotham Black';
    font-weight: bold;
    font-size: 70px;
    color: #ffffff;
    text-align: right;

}